<!doc html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="homePage.css">
</head>
    <body>
        <header class="menu">
            <h1 class="menu-title">Data Science</h1>
            <button id="openFileBtn">Load File</button>   
        </header> 
        <section class="main-container">
            <div class="graphic-item" id = "plot"></div>
            <div class="result">
                <textarea name="" id="text" cols="30" rows="30"></textarea>
            </div>
        </section>
          
    

    <script src="plotly-latest.min.js"></script>
    <script src="./home.js"></script>
</body>
</html>